.js {
  display: flex;
  gap: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(24, 245, 24);
}

.item {
  color: yellow;
  padding: 10px 60px 0 10px;
}

.items a:focus {
  color: green;
}