* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.js {
  display: flex;
  gap: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(24, 245, 24);
}

.item a{
  color: black;
  padding: 10px 60px 10px 10px;
  display: block;
}

.items a:hover {
  background: black;
  color: #fff;
}