.App {
  margin: 0 auto;
  display: grid;
  max-width: 1280px;
  min-height: 720px;

  grid-template-areas:
    'h n'
    'c c';

  grid-template-rows: 40px 1fr;
  grid-template-columns: 3fr 10fr;
  /* grid-gap: 10px; */
}

