.nav {
  grid-area: n;
  padding: 10px 0 10px 10px;
  background-color: rgb(192, 192, 224);
}

.nav a {
  color: black;
  text-decoration: none;
}

.row {
  display: flex;
  gap: 50px;
}

.item {
  padding: 10px;
  cursor: pointer;
  display: block;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.item:hover,
.item.active {
  background-color: black;
  color: white;
}

.item a:hover {
  background-color: black;
  color: #fff;
}

.item.active a {
  background-color: black;
  color: #fff;
}