.nav {
  grid-area: n;
  padding: 10px 0 10px 10px;
  background-color: rgb(192, 192, 224);
}

.row {
  display: flex;
  gap: 50px;
}

.item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.item a:hover {
  background-color: black;
  color: #fff;
}

.item.active a{
  background-color: black;
  color: #fff;
}